<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="myconnstrng" connectionString="Server=ABTIK\SQLEXPRESS; Database=TabulatorDB; Trusted_Connection=True" providerName="System.Data.SqlClient" />-->
    <add name="myconnstrng" connectionString="Server=ABTIK\SQLEXPRESS, 1433; Database=TabulatorDB; User Id=admin; Password=free232469" providerName="System.Data.SqlClient" />   
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>